.wrapper{
    background-color: #38c172;
    display: flex;
    justify-content: space-around;
    
  
    height: 100vh;
    width: 100vw;
}


.lotties{
    display: flex;
    
    padding-top: auto;
    
  }

  .textbox{
      display: block;
      grid-template-columns: auto auto;
      
      text-align: justify;
      color: aliceblue;
      
      
    
      

  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width: 480px){
    .lotties{
      display: grid;
      grid-template-columns: auto;
    }
  }